In [1]:
import pandas as pd
import os

In [2]:
# Change directory
path = os.getcwd() 
os.chdir( path )

In [3]:
df1 = pd.read_csv('Train.csv', delimiter=',')
df2 = pd.read_csv('Train_Vehicletravellingdata.csv', delimiter=',')
df3 = pd.read_csv('Train_WeatherData.csv', delimiter=',')

print(df1.shape)
print(df2.shape)
print(df3.shape)

(12994, 5)
(162566, 10)
(162566, 9)

In [4]:
df1.head()

         ID    V2     V5  V6  DrivingStyle
0  DR_24526  1265  10243   2             2
1  DR_30052  1680  30871   6             2
2  DR_40928   936   3224   4             2
3  DR_66033  1503   3315   4             2
4  DR_45266   929   3022   4             2

In [5]:
print(type(df1))
print(type(df1.V2))
print(type(df1.DrivingStyle))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12994 entries, 0 to 12993
Data columns (total 5 columns):
ID              12994 non-null object
V2              12994 non-null int64
V5              12994 non-null int64
V6              12994 non-null int64
DrivingStyle    12994 non-null int64
dtypes: int64(4), object(1)
memory usage: 507.7+ KB

In [7]:
df1.columns

Index(['ID', 'V2', 'V5', 'V6', 'DrivingStyle'], dtype='object')

In [8]:
df1_rn = df1.rename(columns={'ID':'id', 'V2':'veh_len', 'V5':'veh_weit', 'V6':'nAxels'})

In [9]:
df1_rn.head()

         id  veh_len  veh_weit  nAxels  DrivingStyle
0  DR_24526     1265     10243       2             2
1  DR_30052     1680     30871       6             2
2  DR_40928      936      3224       4             2
3  DR_66033     1503      3315       4             2
4  DR_45266      929      3022       4             2

In [10]:
print(df1_rn.nAxels.value_counts(dropna=False))
print(df1_rn['DrivingStyle'].value_counts(dropna=False))

2    7583
6    2366
5    1575
4     858
3     575
7      35
9       1
8       1
Name: nAxels, dtype: int64
2    6422
3    3798
1    2774
Name: DrivingStyle, dtype: int64

In [11]:
df1_rn.describe()

            veh_len      veh_weit        nAxels  DrivingStyle
count  12994.000000  12994.000000  12994.000000  12994.000000
mean    1029.985994   8131.074188      3.282746      2.078806
std      564.456119   8998.561344      1.655675      0.706824
min      155.000000     44.000000      2.000000      1.000000
25%      561.000000   1738.000000      2.000000      2.000000
50%      637.000000   2408.000000      2.000000      2.000000
75%     1695.000000  14506.750000      5.000000      3.000000
max     2337.000000  57230.000000      9.000000      3.000000

In [12]:
df1_rn1 = df1_rn.drop(['id'], axis=1)

In [13]:
df1_rn1.head()

   veh_len  veh_weit  nAxels  DrivingStyle
0     1265     10243       2             2
1     1680     30871       6             2
2      936      3224       4             2
3     1503      3315       4             2
4      929      3022       4             2

In [14]:
df_12 = pd.merge(df1, df2, on = 'ID')

In [15]:
print(df_12.shape)

(162566, 14)

In [16]:
df_123 = pd.merge(df_12, df3, on = ['ID','V1'])

In [17]:
print(df_123.shape)

(162566, 21)

In [18]:
df_123.head()

,ID,V2,V5,V6,DrivingStyle,V1,V3,V4,V7,V8,...,V10,V11,V18,V12,V13,V14,V15,V16,V17,V19
0,DR_24526,1265,10243,2,2,2012-03-21 09:14:55,1,81,57227,87,...,941,94.0,Dry,7.0,clear,None,95.0,146.0,1.0,daylight
1,DR_24526,1265,10243,2,2,2012-03-21 09:15:07,1,88,57229,81,...,551,11.0,Dry,7.0,clear,None,95.0,124.0,0.0,daylight
2,DR_24526,1265,10243,2,2,2012-03-21 09:15:12,1,88,57230,88,...,1698,4.0,Dry,7.0,clear,None,95.0,124.0,0.0,daylight
3,DR_24526,1265,10243,2,2,2012-03-21 09:15:48,2,84,57228,89,...,544,127.0,Dry,7.0,clear,None,95.0,124.0,0.0,daylight
4,DR_24526,1265,10243,2,2,2012-03-21 09:15:54,1,89,57231,88,...,1893,42.0,Dry,7.0,clear,None,95.0,124.0,0.0,daylight

In [19]:
df_123.rename(columns={'ID':'id', 'V2':'veh_len', 'V5':'veh_weit', 'V6':'nAxels',  
                        'V1':'Dt','V3':'lane','V4':'speed','V7':'id_preced', 'V8':'speed_preced','V9': 'weight_preced','V10':'len_preced', 'V11':'time_gap','V18':'road_cond',
                        'V12':'temp','V13':'precipi','V14':'precipi_inti','V15':'rel_humid','V16':'wind_direc','V17':'wind_speed', 'V19':'light_cond'
                          }, 
                 inplace=True)

In [20]:
df_123.head()

,id,veh_len,veh_weit,nAxels,DrivingStyle,Dt,lane,speed,id_preced,speed_preced,...,len_preced,time_gap,road_cond,temp,precipi,precipi_inti,rel_humid,wind_direc,wind_speed,light_cond
0,DR_24526,1265,10243,2,2,2012-03-21 09:14:55,1,81,57227,87,...,941,94.0,Dry,7.0,clear,None,95.0,146.0,1.0,daylight
1,DR_24526,1265,10243,2,2,2012-03-21 09:15:07,1,88,57229,81,...,551,11.0,Dry,7.0,clear,None,95.0,124.0,0.0,daylight
2,DR_24526,1265,10243,2,2,2012-03-21 09:15:12,1,88,57230,88,...,1698,4.0,Dry,7.0,clear,None,95.0,124.0,0.0,daylight
3,DR_24526,1265,10243,2,2,2012-03-21 09:15:48,2,84,57228,89,...,544,127.0,Dry,7.0,clear,None,95.0,124.0,0.0,daylight
4,DR_24526,1265,10243,2,2,2012-03-21 09:15:54,1,89,57231,88,...,1893,42.0,Dry,7.0,clear,None,95.0,124.0,0.0,daylight

In [21]:
from sklearn.cross_validation import train_test_split
from sklearn.metrics import confusion_matrix 
from sklearn.cross_validation import train_test_split 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

C:\Users\panch\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [22]:
# Function to split the dataset 
def splitdataset(df1): 
  
    # Seperating the target variable 
    X = df1.iloc[:, 0:3] 
    Y = df1.iloc[:, 3] 
  
    # Spliting the dataset into train and test 
    X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.2, random_state = 100) 
      
    return X, Y, X_train, X_test, y_train, y_test

In [23]:
# Function to perform training with giniIndex. 
def train_using_gini(X_train, X_test, y_train): 
  
    # Creating the classifier object 
    clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,max_depth=3, min_samples_leaf=5) 
  
    # Performing training 
    clf_gini.fit(X_train, y_train) 
    return clf_gini

In [24]:
# Function to perform training with entropy. 
def tarin_using_entropy(X_train, X_test, y_train): 
  
    # Decision tree with entropy 
    clf_entropy = DecisionTreeClassifier(criterion = "entropy", random_state = 100,  max_depth = 3, min_samples_leaf = 5) 
  
    # Performing training 
    clf_entropy.fit(X_train, y_train) 
    return clf_entropy

In [25]:
# Function to make predictions 
def prediction(X_test, clf_object): 
  
    # Predicton on test with giniIndex 
    y_pred = clf_object.predict(X_test) 
    print("Predicted values:") 
    print(y_pred) 
    return y_pred

In [26]:
# Function to calculate accuracy 
def cal_accuracy(y_test, y_pred): 
      
    print("Confusion Matrix: ", confusion_matrix(y_test, y_pred)) 
      
    print ("Accuracy : ", accuracy_score(y_test,y_pred)*100) 
      
    print("Report : ", classification_report(y_test, y_pred))

In [27]:
# Driver code 
def main(): 
      
    # Building Phase 
    #data = importdata() 
    X, Y, X_train, X_test, y_train, y_test = splitdataset(df1_rn1) 
    type(Y)
    clf_gini = train_using_gini(X_train, X_test, y_train) 
    clf_entropy = tarin_using_entropy(X_train, X_test, y_train) 
      
    # Operational Phase 
    print("Results Using Gini Index:") 
      
    # Prediction using gini 
    y_pred_gini = prediction(X_test, clf_gini) 
    cal_accuracy(y_test, y_pred_gini) 
      
    print("Results Using Entropy:") 
    # Prediction using entropy 
    y_pred_entropy = prediction(X_test, clf_entropy) 
    cal_accuracy(y_test, y_pred_entropy)

In [28]:
# Calling main function 
if __name__=="__main__": 
    main()

Results Using Gini Index:
Predicted values:
[1 1 1 ... 1 2 2]
Confusion Matrix:  [[ 323  210    7]
 [ 222 1022   32]
 [ 117  625   41]]
Accuracy :  53.32820315505964
Report :               precision    recall  f1-score   support

          1       0.49      0.60      0.54       540
          2       0.55      0.80      0.65      1276
          3       0.51      0.05      0.10       783

avg / total       0.53      0.53      0.46      2599

Results Using Entropy:
Predicted values:
[1 1 1 ... 1 2 2]
Confusion Matrix:  [[ 325  208    7]
 [ 223 1021   32]
 [ 117  625   41]]
Accuracy :  53.36667949211235
Report :               precision    recall  f1-score   support

          1       0.49      0.60      0.54       540
          2       0.55      0.80      0.65      1276
          3       0.51      0.05      0.10       783

avg / total       0.53      0.53      0.46      2599

In [29]:
 X = df1_rn1.iloc[:, 0:3] 
 Y = df1_rn1.iloc[:, 3] 
X.head()

   veh_len  veh_weit  nAxels
0     1265     10243       2
1     1680     30871       6
2      936      3224       4
3     1503      3315       4
4      929      3022       4

In [30]:
import sklearn.datasets as datasets
import pandas as pd

In [31]:
from sklearn.tree import DecisionTreeClassifier
dtree=DecisionTreeClassifier()
dtree.fit(X,Y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [34]:
#!python -m pip install --upgrade pip

Collecting pip
  Downloading https://files.pythonhosted.org/packages/46/dc/7fd5df840efb3e56c8b4f768793a237ec4ee59891959d6a215d63f727023/pip-19.0.1-py2.py3-none-any.whl (1.4MB)
Installing collected packages: pip
  Found existing installation: pip 18.1
    Uninstalling pip-18.1:
      Successfully uninstalled pip-18.1
Successfully installed pip-19.0.1

In [37]:
# !pip install pydotplus
!pip install graphviz

Requirement already satisfied: graphviz in c:\users\panch\anaconda3\lib\site-packages (0.10.1)

In [36]:
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus
dot_data = StringIO()
export_graphviz(dtree, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
Image(graph.create_png())

InvocationException: GraphViz's executables not found